<% js_bundle :case_solution_edit %>
<% jammit_css :tinymce %>
<% form_for(@case_solution, :url => course_case_issue_case_solution_url(@context, params[:case_issue_id]), :html => {:method => 'PUT'} ) do |f| %>
  <%= f.error_messages %>

  <!-- 案例问题 start --> 
  <div>
    <% case_issue = @case_solution.case_issue %>
    <div>
      <%= case_issue.subject %>
    </div>
    <div>
      <% case_issue.case_tpl.case_tpl_widgets.each do |w|%> 
        <div><%= raw w.title %></div>
        <div><%= raw w.body %></div>
      <% end %>
    </div>
  </div>
  <!-- 案例问题 end --> 
  <div><%= t 'updated_at', 'Updated At' %>: <%= @case_solution.updated_at.to_formatted_s(:db) %></div>
  <div>
    <%= t 'title', 'Title' %>: <%= f.text_field :title %>
  </div>
  <div>
    <%= t 'content', 'Content' %>: <%= f.text_area :content %>
  </div>
  <p>
    <%= f.submit t('#buttons.update', 'Update') %>
  </p>
<% end %>

<%= link_to t('#buttons.back', 'Back'), course_case_issue_case_solutions_path(@context, params[:case_issue_id], params[:case_solution_id]) %>
