<% js_bundle :case_solution_index %>
<div>
  <% form_for @search, :url => course_case_issue_case_solutions_path do |f| %>
    <div>
        <ul>
          <li>
            <label><%= t 'selector.title', 'Title' %>:</label>
            <%= f.text_field :title_like %>
          </li>
          <li>
            <label><%= t 'selector.author', 'Author' %>:</label>
            <%= f.text_field :user_name_like %>
          </li>
          <li>
            <label><%= t 'selector.state', 'State' %>:</label>
            <%= f.check_box :workflow_state_in, {:name => "search[workflow_state_in][]"}, 'executing', nil %> <%= t '#case_solutions.state_array.executing', 'Executing' %>
            <%= f.check_box :workflow_state_in, {:name => "search[workflow_state_in][]"}, 'being_reviewed', nil %> <%= t '#case_solutions.state_array.being_reviewed', 'Being reviewed' %>
            <%= f.check_box :workflow_state_in, {:name => "search[workflow_state_in][]"}, 'remodified', nil %> <%= t '#case_solutions.state_array.remodified', 'Remodified' %>
            <%= f.check_box :workflow_state_in, {:name => "search[workflow_state_in][]"}, 'accepted', nil %> <%= t '#case_solutions.state_array.accepted', 'Accepted' %>
            <%= f.check_box :workflow_state_in, {:name => "search[workflow_state_in][]"}, 'rejected', nil %> <%= t '#case_solutions.state_array.rejected', 'Rejected' %>
          </li>
          <li>
            <label> </label>
            <%= f.submit t('selector.query', 'Query'), {:class => "btn btn-primary"} %>
          </li>
         </ul>
    </div>
  <% end %>
</div>
<% unless @case_solutions.empty? %>
  <%= pagination = will_paginate(@case_issues) %>
  <div>
    <h1>
      <%= @case_solutions[0].case_issue.subject %>
    </h1>
  </div>
  <table class="table table-striped table-bordered range">
    <thead>
      <tr>
        <th><%= sortable_for_searchlogic('title', (t 'headings.title', 'Title')) %></th>
        <th><%= sortable_for_searchlogic('workflow_state', (t 'headings.state', 'State')) %></th>
        <th><%= sortable_for_searchlogic('group_discuss', (t 'headings.group_discuss', 'Group Discuss')) %></th>
        <th><%= sortable_for_searchlogic('name', (t 'headings.author', 'Author'), 'user_sort_by_custom') %></th>
        <th><%= sortable_for_searchlogic('updated_at', (t 'headings.updated_at', 'Updated At')) %></th>
        <th><%= t 'headings.op', 'Operation' %></th>
      </tr>
    </thead>

    <% @case_solutions.each do |case_solution| %>
      <tr>
      <td><%= link_to (case_solution.title || t('unedited_solution', 'Unedited Solution')), course_case_issue_case_solution_path(@context, params[:case_issue_id], case_solution) %></td>
      <td><%= display_state(CaseSolution.display_state[case_solution.workflow_state], case_solution.workflow_state) %></td>
      <td>
        <% if case_solution.group_discuss %>
          <%= link_to t('#case_solutions.ya', 'Yes'), course_group_path(@context, case_solution.group.id) %>
        <% else %>
          <%= t('#case_solutions.not', 'No') %>
        <% end %>
      </td>
      <td><%= case_solution.user.name %></td>
      <td><%= case_solution.updated_at.to_formatted_s(:db) %></td>
      <td>

        <div class="admin-link-hover-area">
          <div class="admin-links">
            <button class="al-trigger ui-button"><span class="al-trigger-inner">Manage (will be accessibly hidden)</span></button>
            <ul class="al-options">
              <% if case_solution.can_modify?(@current_user) && can_operate_cases_as_student? %>
                <li>
                <% link_to course_case_issue_case_solution_submit_path(@context, params[:case_issue_id], case_solution), {:class => 'solution-submit', :solution_title => case_solution.title } do %>
                    <span class='ui-icon ui-icon-pencil'></span> <%=  (t 'links.submit', 'Submit') %>
                  <% end %>
                </li>
                <li>
                  <% link_to edit_course_case_issue_case_solution_path(@context, params[:case_issue_id], case_solution) do %>
                    <span class='ui-icon ui-icon-pencil'></span> <%=  t('#buttons.edit', 'Edit') %>
                  <% end %>
                </li>
                <li>
                  <% link_to course_case_issue_case_solution_path(@context, params[:case_issue_id], case_solution), {:confirm => t('#buttons.confirm', 'Are you sure?'), :method => :delete} do %>
                    <span class='ui-icon ui-icon-pencil'></span> <%=  t('#buttons.delete', 'Delete') %>
                  <% end %>
                </li>
              <% end %>
              <% if case_solution.being_reviewed? && can_operate_cases_as_teacher? %>
                <li>
                  <% link_to course_case_issue_case_solution_review_path(@context, params[:case_issue_id], case_solution), {:class => 'solution-review'} do %>
                    <span class='ui-icon ui-icon-pencil'></span> <%=  (t 'links.review', 'Review') %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
  <%= pagination %>
<% else %>
  <%= t 'empty_solutions', 'Empty case solutions' %>
<% end %>

<div id="case-review-dialog" style="display:none">
  <div class="your_option">
    <%= t 'your_option', 'Your option is' %>
    <input type="radio" name="review_result" value="accept" checked="true"><%= t 'accept', 'Accept' %>
    <input type="radio" name="review_result" value="reject"><%= t 'reject', 'Reject' %>
    <input type="radio" name="review_result" value="remodify"><%= t 'remodify', 'Remodify' %>
  </div>
</div>
