{{#ifAll atLeastOnePageFetched length}}
  <div class="headerBar">
    <div class="headerBar-right">
      {{#if options.atom_feed_url}}
        <a class="btn"
           href="{{options.atom_feed_url}}"
           data-tooltip
           title="{{#t "rss_feed"}}RSS feed{{/t}}"><i class="icon-rss"></i></a>
      {{/if}}
      <span id="actionsForSelectedDiscussions" style="display:none;">
        <input type="checkbox" id="lock" />
        <label for="lock">锁定评论</label>
        <button id="delete">删除</button>
      </span>
      {{#if options.permissions.create}}
        <a href="{{new_topic_url}}" class="btn btn-primary">{{#if showingAnnouncements}}
          创建公告
        {{else}}
          {{#t "new_discussion"}}Start a discussion{{/t}}
        {{/if}}</a>
      {{/if}}
    </div>
    <div class="headerBar-left bootstrap-form form-inline index_view_filter_form">
      <label class="hidden-inline-text" for="searchTerm">{{#t "search_title_body_or_author"}}Search title, body, or author{{/t}}</label>
      <input id="searchTerm"
             placeholder="{{#t "search_title_body_or_author"}}Search title, body, or author{{/t}}"
             value="{{searchTerm}}"
             type="search">
      <span id="discussionsFilter">
        <input type="checkbox"
               id="onlyUnread"
               {{#if onlyUnread}}checked{{/if}} /><label for="onlyUnread">{{#t "unread"}}Unread{{/t}}</label>
        {{#unless showingAnnouncements}}
          <input type="checkbox"
                 id="onlyGraded"
                 {{#if onlyGraded}}checked{{/if}}/><label for="onlyGraded">{{#t "assignments"}}Assignments{{/t}}</label>
        {{/unless}}
      </span>
    </div>
  </div>
  <div class="nothingMatchedFilter" style="display:none;">
    {{#if showingAnnouncements}}
      <p>
        没有找到相关公告
      </p>
      <p>
      建议：
      <ul>
        <li>确保搜索项正确</li>
        <li>试试其它关键字</li>
        <li>去掉"未读"筛选</li>
      </ul>
    {{else}}
      <p>
        没有讨论话题
      </p>
      <p>
      建议：
      <ul>
        <li>确保搜索项正确</li>
        <li>试试其它关键字</li>
        <li>去掉"未读"或"作业"筛选</li>
      </ul>
    {{/if}}
  </div>
  <div class="discussionTopicIndexList"></div>
{{else}}
  {{#if atLeastOnePageFetched}}
    <div style="margin:auto; text-align: center; margin-top: 80px">
      <h1>
        {{#if showingAnnouncements}}
          没有公告
        {{else}}
          {{#t "there_are_no_discussion_topics_to_show"}}There are no discussion topics to show{{/t}}
        {{/if}}
      </h1>
      {{#if options.permissions.create}}
        <a href="{{new_topic_url}}" class="btn btn-large btn-primary">
          {{#if showingAnnouncements}}
            发布一个公告
          {{else}}
            {{#t "start_one_now"}}Start One Now{{/t}}
          {{/if}}
        </a>
      {{/if}}
    </div>
  {{else}}
    <h2>加载中...</h2>
  {{/if}}
{{/ifAll}}
