<% unless @discussions.blank? && context.is_a?(User) %>
<div <%= data_widget %> class="fixed">
  <div class="box <%= @opts[:box_class] %>">
    <div class="box_head">
      <%
        more_link = if context.is_a?(User)
                      "users/#{context.id}/more_discussion_topics"
                    else
                      "accounts/#{context.id}/more_discussion_topics"
                    end
      %>
      <%= render :partial => "shared/box_header", :locals => { :header_title => t('#cells.discussion.title', 'Discussion'), :more_link => more_link } %>
    </div>
    <div class="box_body">
      <% unless @discussions.blank? %>
        <%= render :partial => "shared/contexts", :locals => { :objects => @discussions } %>
      <% else %>
        <p><%= t('#cells.discussion.empty_body', 'Empty discussions') %></p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
