<h1><%= t 'new_issue', 'New case issue' %></h1>

<% form_for(@case_issue, :url => course_case_issues_url(@context), :html => {:method => 'POST'}) do |f| %>

  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f } %>

  <p>
    <%= f.submit t('#buttons.create', 'Create') %>
  </p>
  
<% end %>

<%= render :partial => 'case_tpls/hidden_element' %>

<%= link_to t('#buttons.back', 'Back'), course_case_issues_path %>
