<% unless @discussions.blank? && context.is_a?(User) %>
<div <%= data_widget %> >
  <div class="box <%= @opts[:can_select_course] ? 'mini_box' : '' %>">
    <div class="box_head">
      <%= render :partial => "shared/box_header", :locals => { :header_title => t('#cells.discussion.title', 'Discussion') } %>
    </div>
    <div class="box_body">
      <% unless @discussions.blank? %>
        <%= render :partial => "shared/contexts", :locals => { :objects => @discussions } %>
      <% else %>
        <p><%= t('#cells.discussion.empty_body', 'Empty discussions') %></p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
