<% content_for :page_title do %><%= t('user_dashboard', 'User Dashboard') %><% end %>
<% jammit_css :dashboard %>
<% js_bundle :dashboard %>
<% content_for :auto_discovery do %>
  <% if @current_user %>
      <%= auto_discovery_link_tag(:atom, feeds_user_format_path(@current_user.feed_code, :atom), {:title => t('user_atom_feed', "User Atom Feed (All Courses)")}) %>
  <% end %>
<% end %>

<% content_for :right_side do %>
  <% locals = {:title => t('coming_up', "Coming Up"), :display_count => 3, :period => :one_week, :show_context => true, :upcoming => true} %>
  <% if @current_user %>    
    <% cache([@current_user, 'user_dashboard_upcoming_events' ], :expires_in => 3.minutes) do %>
      <% 
        upcoming_events = @current_user.upcoming_events
        @current_user_submissions ||= @current_user && @current_user.submissions.scoped(:select => 'id, assignment_id, score, workflow_state', :conditions => {:assignment_id => upcoming_events.select{|e| e.is_a?(Assignment) }.map(&:id)}) 
      %>
      <%= render :partial => "shared/event_list", :object => upcoming_events, :locals => locals %>
    <% end %>
  <% else %>
    <%= render :partial => "shared/event_list", :object => [], :locals => locals %>
  <% end %>
  <%= render :partial => 'courses/assignments_needing_grading', :locals => {:contexts => nil} %>
  <% if @show_recent_feedback %>
    <%= render :partial => "shared/event_list", :object => @recent_feedback, :locals => {:title => t('recent_feedback', "Recent Feedback"), :display_count => 3, :period => :two_weeks, :show_context => true, :is_recent_feedback => true} %>
  <% end %>
  <div class="rs-margin-lr">
    <% if @current_user.accounts.include? Account.site_admin%>
      <button type="button"
              id="create_new_account"
              class="element_toggler button button-sidebar-wide"
              aria-controls="new_account_form"><%= t('create_new_account', 'Create a New Account') %></button>
      <%= render :partial => 'shared/new_account_form' %>
    <% end %>
  </div>
  <% if show_user_create_course_button(@current_user) %>
  <div class="rs-margin-lr">
    <button type="button"
            id="start_new_course"
            class="element_toggler btn button-sidebar-wide"
            aria-controls="new_course_form"><%= t('start_new_course', 'Start a New Course') %></button>
    <%= render :partial => 'shared/new_course_form' %>
  </div>
  <% end %>
  <div class="x box" id="config_courses_holder">
    <%= link_to image_tag('close-button.png'), 'javascript:void(0)', :class => 'close' %>
    <% courses_with_account = @current_user.courses.inject(Hash.new{|h,k| h[k] = []}){|h,course| h[course.account.name] << course; h } %>
    <% courses_with_account.each do |account_name, courses| %>
      <%= check_box_tag 'course_name', account_name, false, :class => 'account_name_checkbox' %> <%= account_name %><br />
      <% courses.each do |course| %>
        &nbsp;&nbsp;<%= check_box_tag 'course_id', course.id, false, :id => "course_id_#{course.id}", :class => 'course_id_checkbox', 'data-account-name' => account_name %> <%= course.name %>
      <% end %>
    <% end %>
    <div style="position:absolute;bottom:5px;right:20px;"><%= link_to 'save', 'javascript:void(0)', :class => "save_selector" %></div>
  </div>
<% end %>
<div id="dashboard">
<%= render :partial => 'jxb/pages/content', :locals => { :page => @dashboard_page, :partial_name => 'shared/dashboard_widgets' } %>
<%= render :partial => 'shared/dashboard_invitation', :collection => @pending_invitations %>
<%= render :partial => 'shared/dashboard_messages' %>
<%= render :partial => 'shared/recent_activity' %>
</div>
