<% content_for :page_title do %><%= t('user_dashboard', 'User Dashboard') %><% end %>
<% jammit_css :dashboard %>
<% js_bundle :dashboard %>
<% content_for :auto_discovery do %>
  <% if @current_user %>
      <%= auto_discovery_link_tag(:atom, feeds_user_format_path(@current_user.feed_code, :atom), {:title => t('user_atom_feed', "User Atom Feed (All Courses)")}) %>
  <% end %>
<% end %>

<% content_for :right_side do %>
  <div class="placeholder"></div>
  <div id="config_courses_holder">
    <div style="position: relative;">
    <i class="x_narrow"></i>
    <%= link_to image_tag('close-button.png'), 'javascript:void(0)', :class => 'close' %>
    <% courses_with_account = @current_user.courses.inject(Hash.new{|h,k| h[k] = []}){|h,course| h[course.root_account.name] << course; h } %>
    <ul>
    <% courses_with_account.each do |account_name, courses| %>
      <li><%= check_box_tag 'course_name', account_name, false, :class => 'account_name_checkbox' %> <%= account_name %></li>
      <ul>
      <% courses.each do |course| %>
        <li><%= check_box_tag 'course_id', course.id, false, :id => "course_id_#{course.id}", :class => 'course_id_checkbox', 'data-account-name' => account_name %> <%= course.name %></li>
      <% end %>
      </ul>
    <% end %>
    </ul>
    </div>
    <div style="position:absolute;bottom:5px;right:20px;"><%= link_to 'save', 'javascript:void(0)', :class => "save_selector" %></div>
  </div>
<% end %>

<div id="dashboard">
<%= render :partial => 'jxb/pages/content', :locals => { :page => @dashboard_page, :partial_name => 'shared/dashboard_widgets' } %>
<%= render :partial => 'shared/dashboard_invitation', :collection => @pending_invitations %>
<%= render :partial => 'shared/dashboard_messages' %>
<%= render :partial => 'shared/recent_activity' %>
</div>
