
<% form_for :pseudonym_session, :url => forgot_password_path, :html => {:id => "forgot_password_form", :style => "display: none;"} do |f| %>

  <p><%= t('login_handle', "Enter your %{login_handle_name} and we'll send you a link to change your password.", :login_handle_name => login_handle_name) %></p>
  <div>
    <span class=" field-with-fancyplaceholder"><label for="pseudonym_session_unique_id_forgot"><%= login_handle_name %></label><input class="email_address text" type="text" name="pseudonym_session[unique_id_forgot]" value="<%= @unauthorized_user.email rescue '' %>" id="pseudonym_session_unique_id_forgot" /></span>
    <button type="submit" class="btn btn-primary"><%= t('buttons.request_password', 'Request Password') %></button>
  </div>

  <% if type  == 'login' %>
    &larr; <%= link_to t('back_to_login', "Back to Login"), login_path, :class => "login_link" %>
  <% elsif type == 'enroll' %>
    &larr; <%= link_to t('back_to_enroll', "Back to Enroll"), request.url, :class => "login_link" %>
  <% end %>
<% end %>
