
<li class="customListItem" data-id="<%= menu_case_repository[:id] %>">
  <a href="<%= menu_case_repository[:href] %>">
    <span class="name ellipsis" title="<%= menu_case_repository[:longName] %>"><%= menu_case_repository[:shortName] %></span>
    <% if defined? menu_case_repository[:term] %>
      <span class="subtitle ellipsis enrollment_term menu-item-drop-float-right"><%= menu_case_repository[:term] %></span>
    <% end %>
    <span class="subtitle ellipsis menu-item-drop-float-right"><%= menu_case_repository[:root_account] %></span>
    <span class="subtitle ellipsis"><%= menu_case_repository[:subtitle] %></span>
  </a>
</li>
