<% js_bundle :new_account_form %>
<% form_for Account.new, :html => { :id => 'new_account_form',
                                    :class => 'bootstrap-form form-horizontal',
                                    'data-turn-into-dialog' => '{"width":500,"resizable":false}',
                                    :title => t('create_a_new_account', 'Create a New Account'),
                                    :style => 'display:none;' } do |f| %>

  <div class="control-group">
    <%= f.label :name, :en => "Account Name", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name,
                       :placeholder => t('new_account_name_placeholder', 'Account Name'),
                       :class => 'input-xlarge',
                       :maxlength => '255' %>
    </div>
  </div>

  <div class="button-container">
    <button type="button"
            data-text-while-loading="<%= t 'cancel', "Cancel" %>"
            class="button dialog_closer"><%= t 'cancel', "Cancel" %></button>
    <button class="button btn-primary"
            data-text-while-loading="<%= t 'creating_account', 'Creating account...' %>"
            type="submit"><%= t 'create_account', 'Create account' %></button>
  </div>
<% end %>
