<% content_for :page_title do %><%= t('learning_plans', 'Learning Plans') %><% end %>
<%
  @active_tab = "learning_plans"
  add_crumb t(:learning_plans_crumb, "Learning Plans")
  js_bundle :learning_plans
  jammit_css :learning_plans
%>

<h2><%= t(:title, "Learning Plans In This Account") %></h2>

<table class="table table-striped table-over">
  <thead>
    <tr>
      <th> <%= t('subject', 'Subject') %></th>
      <th> <%= t('course_count', 'Course Count') %></th>
      <th> <%= t('user_count', 'User Count') %></th>
      <th> <%= t('start_on', 'Start On') %></th>
      <th> <%= t('end_on', 'End On') %></th>
      <th> <%= t('status', 'Status') %></th>
      <th colspan=2></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'learning_plan', :collection => @learning_plans %>
  </tbody>
</table>

<div class="hidden" id="account_learning_plans_path" data-path="<%= account_learning_plans_path %>"></div>

<%= will_paginate @learning_plans %>

<%= link_to t('new_plan', 'New Plan'), new_account_learning_plan_path, :class => 'btn btn-primary' %>

<div class="account_tree_dialog" style='display: none;'>
  <div class="tree_wrap"></div>

  <p> <%= t('pickup_section_description', 'User will be attended to a section which he/she is associated with automatically.') %></p>
  <form action="" class="tree-form well">
    <%= hidden_field_tag '_method', 'PUT' %>
    <button type="submit" class="btn btn-primary btn-select-section"> <%= t('#buttons.ok', 'OK') %></button>
    <button type="button" class="btn btn-secondary btn-cancel"> <%= t('#buttons.cancel', 'Cancel') %></button>
  </form>
</div>
