<% unless @assignments.blank? %>
<div <%= data_widget %> >
  <div class="box <%= @opts[:box_class] %>">
    <div class="box_head">
      <%= render :partial => "shared/box_header", :locals => { :header_title => t('#cells.assignment.title', 'Assignment'), :more_link => '/assignments' } %>
    </div>
    <div class="box_body">
      <table class="table jxbTable datatable <%= @has_content ? '' : 'empty-content'%>">
        <thead><tr>
          <td><%= t '#cells.assignment.name', 'Name' %></td>
          <td><%= t '#cells.assignment.course', 'Course' %></td>
          <td><%= t '#cells.assignment.created_at', 'Created at' %></td>
          <td><%= t '#cells.assignment.due_at', 'Due at' %></td>
          <td><%= t '#cells.assignment.status', 'Status' %></td>
         </tr></thead>
        <tbody>
        <% @assignments.each do |assignment| %>
        <% style = @ids.include?(assignment.context.id) ? '' : "style='display:none;'" if @opts[:can_select_course] %>
          <tr data-course-id=<%= assignment.context.id%> <%= style if @opts[:can_select_course] %> >
            <td><a href=<%= "/courses/#{assignment.context.id}/assignments/#{assignment.id}" %>><%= assignment.title %></a></td>
            <td><%= assignment.context.name %></td>
            <td><%= l(assignment.created_at, :format => :long) if assignment.created_at  %></td>
            <td><%= l(assignment.due_at, :format => :long) if assignment.due_at %></td>
            <td>
              <% unless assignment.submission_types.blank? %>
                <%= @has_submited_assignment_ids.include?(assignment.id) ? t('#cells.assignment.done', 'Done') : t('#cells.assignment.to_do', 'To do') %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<div class="data-widget-body" style="display:none;"></div>
</div>
<% end %>
