<form action='#' id='edit_appointment_form'>
  <div class="left-column-wrapper">
    <p>
      <b>名称</b><br />
      <input type="text" name="title" style="width: 190px" value="{{appointment_group.title}}">
    </p>
    <p>
      <b>位置</b><br />
      <input type="text" name="location" style="width: 190px" value="{{appointment_group.location_name}}">
    </p>
    <div class="select-calendar-container">
      <b>日历</b><br />
      <button class="button ag_contexts_selector"></button>
      <div class="ag-menu-container"></div>
    </div>
    <p>
      <input type="checkbox" class="group-signup-checkbox" id="group-signup-checkbox" name="use_group_signup" value="1" {{#ifEqual participant_type "Group"}}checked{{/ifEqual}}>
      <label for="group-signup-checkbox">让学生加入这个小组。</label>
    </p>
    <div class="group-signup" style="display: none">
      <b>组分类</b><br />
      <div class="group_select">
        <select name="group_category_id"></select>
      </div>
    </div>
  </div>
  <div class="right-column-wrapper">
    <div class="time-block-list-wrapper">
      <div class="time-block-list">
        <table class="time-block-list-header">
          <tr>
            <th class="date-column">日期</th>
            <th class="time-range-column" colspan="4">时间范围</th>
          </tr>
        </table>
        <div class="time-block-list-body-wrapper">
          <table class="time-block-list-body"></table>
        </div>
        <div class="splitter" style="font-size: 0.8em">
          <p>
            <a class="split-link button small-button" href="#">拆分</a>成 <input type="number" name="duration" value="30" style="width: 40px" /> 分钟每组。
          </p>
        </div>
      </div>
    </div>
    <div style="margin-top: 1.5em">
      <div id="options_help_dialog" style="display: none;">
        <p>已有的预约超过了限制。</p>
        <p>你可以删除已有的预约。</p>
      </div>
      <b>选项</b>
      <ul class="ag-options">
        <li>
          <input type="checkbox" id="appointment-blocks-per-slot-option-button" name="per_slot_option" value="1" />
          <label for="appointment-blocks-per-slot-option-button">限制每段时间对应</label>
          <input type="number" name="participants_per_appointment" value="{{appointment_group.participants_per_appointment}}" min="1" style="width: 40px;" />
          <label for="appointment-blocks-per-slot-option-button">
            <span {{#ifEqual participant_type "Group"}} {{else}} style="display:none;" {{/ifEqual}} class="per_appointment_groups_label">小组.</span>
            <span {{#ifEqual participant_type "Group"}} style="display:none;" {{/ifEqual}} class="per_appointment_users_label">用户.</span>
          </label>
          <a href="#" class="reservation_help hidden" title="{{#t "affect_reservations"}}How will this affect reservations?{{/t}}">
            <img alt="Help" src="/images/help.png">
          </a>
        </li>
        <li>
          <input type="checkbox" id="appointment-blocks-participant-visibility-button" name="participant_visibility" value="1" />
          <label for="appointment-blocks-participant-visibility-button">允许学生可以看见有谁一起参加。</label>
        </li>
        <li>
          <input type="checkbox" id="max-per-student-option" name="max_appointments_per_participant_option" value="1">
          <label for="max-per-student-option">限制参与者尝试</label>
          <input type="number" name="max_appointments_per_participant" value="{{appointment_group.max_appointments_per_participant}}" min="1" style="width: 40px">
          <label for="max-per-student-option">次.</label>
          <a href="#" class="reservation_help hidden" title="{{#t "affect_reservations"}}How will this affect reservations?{{/t}}">
            <img alt="Help" src="/images/help.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="details-wrapper">
    <b>详细描述:</b><br />
    <textarea name="description" style="width: 100%">{{appointment_group.description}}</textarea>
  </div>
</form>
