{{#if events}}
  <b>未指定日期的活动</b>
  <ul>
    {{#each events}}
      <li class="undated_event event group_{{contextCode}} {{id}}" data-event-id="{{id}}">
        {{title}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="spin_holder"></div>
  <a href="#" data-text-while-loading="Loading undated events..." class="undated-events-link">显示未指定日期的活动</a>
{{/if}}
