<p>
  <b>Cell name:</b>
  <%=h @widget.cell_name %>
</p>

<p>
  <b>Cell action:</b>
  <%=h @widget.cell_action %>
</p>

<p>
  <b>Title:</b>
  <%=h @widget.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @widget.body %>
</p>

<p>
  <b>Position:</b>
  <%=h @widget.position %>
</p>

<p>
  <b>Seq:</b>
  <%=h @widget.seq %>
</p>

<p>
  <b>Page:</b>
  <%=h @widget.page_id %>
</p>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>