
<%= link_to t('new_tpl', 'New Case Template'), new_account_case_tpl_path %><br />

<% unless @case_tpls.empty? %>
  <table class="table table-striped table-bordered">
    <tr>
      <th><%= t 'headings.name', 'Name' %></th>
      <th><%= t 'headings.author', 'Author' %></th>
      <th colspan="3"><%= t 'headings.op', 'Operation' %></th>
    </tr>

  <% @case_tpls.each do |case_tpl| %>
    <tr>
      <td><%= link_to case_tpl.name, account_case_tpl_path(@account, case_tpl) %></td>
      <td><%= case_tpl.user.name %></td>
      <td><%= link_to (t '#buttons.edit', 'Edit'), edit_account_case_tpl_path(@account, case_tpl) %></td>
      <td><%= link_to (t '#buttons.delete', 'Delete'), account_case_tpl_path(@account, case_tpl), :confirm => (t '#buttons.confirm', 'Are you sure?'), :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= t 'empty_tpls', 'Empty Case Templates' %>
<% end %>

