
<div><%= t 'tpl_name', 'Template Name' %>: <%= @case_tpl.name %></div>
<div><%= t 'author', 'Author' %>: <%= @case_tpl.user.name %></div>
<div><%= t 'updated_at', 'Updated At' %>: <%= @case_tpl.updated_at.to_formatted_s(:db) %></div>

<div>
  <% @case_tpl.case_tpl_widgets.each do |w| %>
    <div>
      <div><%= raw w.title %></div>
      <div><%= raw w.body %></div>
    </div>
  <% end %>
</div>
<%= link_to (t '#buttons.edit', 'Edit'), edit_account_case_tpl_path(@account, @case_tpl) %> |
<%= link_to (t '#buttons.back', 'Back'), account_case_tpls_path %>
