
<div>

  <div>
    <%= link_to 'New job_position', new_account_job_position_path %>
  </div>

  <div> 
    <%= link_to t('tim', 'Job position category management'), account_job_position_categories_path %>
  </div>
  <% unless @job_positions.blank? %>
  <table>
    <thead>
      <tr>
        <td width="50px">ID</td>
        <td width="100px">Code</td>
        <td width="200px">Name</td>
        <td width="200px">Job position category</td>
        <td width="100px">Rank</td>
        <td width="100px">Op</td>
      </tr>
    </thead>

  <% @job_positions.each do |jp| %>
    <tr>
      <td><%= jp.id %></td>
      <td><%= jp.code %></td>
      <td><%= jp.name %></td>
      <td><%= jp.job_position_category.name %></td>
      <td><%= jp.rank %></td>
      <td><%= link_to 'Edit', edit_account_job_position_path(params[:account_id], jp.id) %></td>
    </tr>
  <% end %>
  </table>

  <% else %>
    Empty job positions
  <% end %>

</div>
