<% form_for @page, :url => account_page_path(@account, @page) do |f| %>
<div id="theme_options_holder">
  <div class="options_header">
    <h2><%= t(:edit_this_page, "Edit this page") %></h2>
  </div>
  <div id="theme_options" class="rs-margin-lr">
    <table class="stylized" style="margin-bottom: 0;">
      <tbody><tr>
        <td><%= before_label(:name, 'Theme name') %></td>
        <td><%= f.select :theme, Jxb::Theme.themes %></td>
      </tr><tr>
        <td><%= before_label(:add_new_widget, 'New widget') %></td>
        <td><%= select "widget", "name", Jxb::Widget::TYPE %> <%= link_to t(:add, 'add'), '#', :id => 'add_widget' %></td>
      </tr><tr>
        <td><%= before_label(:accounts, 'Accounts') %></td>
        <td>
          <% @account.sub_accounts.each do |account| %>
            <%= check_box_tag "jxb_page[accounts][]", account.id, @page.accounts.include?(account.id.to_s) %> <%= account.name %>
          <% end %>
        </td>
      </tr></tbody>
    </table>
  </div><!-- End of div#theme_options -->
  <%= hidden_field_tag :widget_url, new_account_page_widget_path(@account, @page) %>
  <div class="button-container rs-margin-lr">
    <button type="submit" class="save_theme_button btn"><%= t(:save, "Save Settings") %></button>
    <a href="#" class="cancel"><%= t(:cancel, "cancel") %></a>
  </div>
</div>
<% end # End of form_for %>

<div class="rs-margin-all">
  <a href="#" class="edit_theme_link btn button-sidebar-wide"><i class="icon-edit"></i> <%= t(:edit_this_page, "Edit this page") %></a>
</div>
