
<% if can_do(@context, @current_user, :manage_account_settings) %>
  <a href="#" class="add_knowledge_link btn button-sidebar-wide"><i class="icon-add"></i> <%= t("#accounts.add_course_or_user.add_knowledge_link", "Add a knowledge Repostory") %></a>

  <% link_to account_settings_url(@context, :anchor => 'account_settings_student_can_commit_knowledge'), {:class => 'add_case_link btn button-sidebar-wide'} do %>
    <i class="icon-settings"></i><%= t('#knowledges.knowledge_setting', 'Knowledge Setting') %>
  <% end %>

  <div id="add_knowledge_repostory_dialog" style="display:none">
    <% form_for :course, :url => create_case_course_url, :html => {:id => 'add_knowledge_repostory_form'} do |f| %>
      <div>
      <%= t '#accounts.add_knowledge_dialog_content', 'Add a new knowledge repostory for your account' %>
    </div>
    <div>
      <%= f.text_field :name %>
      <%= f.hidden_field :account_id, :value => @account.id %>
      <%= f.hidden_field :sub_type , :value => 'knowledge' %>
      <%= f.hidden_field :is_public, :value => false %>
    </div>

    <td colspan="2">
      <div class="button-container">
        <button type="button" class="btn dialog_closer"><%= t("#buttons.cancel", "Cancel") %></button>
        <button type="submit" class="btn btn-primary"><%= t("#accounts.add_knowledge_button", "Add Knowledge Repostory") %></button>
      </div>
    </td>

  <% end %>
  </div>

  <% js_block do %>
  <script>
  require([
    'i18nObj' /* I18n.t */,
    'jquery' /* $ */,
    'str/htmlEscape' /* htmlEscape, /\$\.h/ */,
    'compiled/registration/registrationErrors',
    'compiled/pickup_users',
    'jquery.instructure_forms' /* formSubmit */,
    'jqueryui/dialog',
    'vendor/jquery.spin',
    'compiled/jquery/fixDialogButtons' /* fix dialog formatting */,
    'compiled/jquery.rails_flash_notifications',
    'jquery.templateData' /* fillTemplateData */
  ], function(I18n, $, htmlEscape, registrationErrors, PickupUsers) {

    $(document).ready(function() {
  //create knowledge event
      $('.add_knowledge_link').bind('click', function(){
        $('#add_knowledge_repostory_dialog').dialog({
          title: <%= jt('#accounts.add_knowledge_dialog_title', 'Add a New Knowledge Repostory') %>,
          width: 500
        });
        return false;
      });

      $('#add_knowledge_repostory_dialog .dialog_closer').bind('click', function(){
        $('#add_knowledge_repostory_dialog').dialog('close');
      });

      $('#add_knowledge_repostory_form').formSubmit({
        success: function(data){
          if(data){
            $.flashMessage(<%= jt('#accounts.add_knowledge_successfully', 'Added Knowledge Repostory successfully.')%>);
            window.location.reload();
          }else{
            alert(<%= jt('#accounts.add_knowledge_failure', 'Create Knowledge Repostory failure.') %>);
          }
        },
        error: function(){
          alert(<%= jt('#accounts.add_knowledge_failure', 'Create Knowledge Repostory failure.') %>);
        }
      });
    });
  });
  </script>
  <% end %>

<% end %>
