<% 
  js_bundle :account_new
  jammit_css :registration
%>
<div class="content">
  <%= render :partial => 'shared/menu_navbar' %>
  <div class="register">
    <div class="container">
      <div class="tab-pane">
        <% form_for @account, :html => {:class => 'bootstrap-form form-horizontal'}  do |f| %>

          <div class='control-group'>
            <div class="control-label">
              <%= f.label :user_role, t('user.role', 'User Role') %>
            </div>
            <div class="controls">
              <%= f.select :user_role, AccountUser.roles.map{|k,v| [v, k]} %>
            </div>
          </div>

          <div class='control-group'>
            <div class="control-label">
              <%= f.label :user_mobile, t('user.mobile', 'Mobile') %>
            </div>
            <div class="controls">
              <%= f.text_field :user_mobile %>
            </div>
          </div>

          <div class='control-group'>
            <div class="control-label">
              <%= f.label :name, t('school.name', 'School Name') %>
            </div>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>

          <div class='control-group'>
            <div class="control-label">
              <%= f.label :school_category, t('school.category', 'School Category') %>
            </div>
            <div class="controls">
              <%= f.select :school_category, Account::school_categories.map{|k,v| [v, k]} %>
            </div>
          </div>

          <div class='control-group'>
            <div class="control-label">
              <%= f.label :school_scale, t('school.scale', 'School Scale') %>
            </div>
            <div class="controls">
              <%= f.select :school_category, Account::school_scale.map{|k,v| [v, k]} %>
            </div>
          </div>

          <%= show_simple_captcha :object => :account, :label => t('#simple_captcha.validation_code', 'Validation Code') %>

          <div class='control-group'>
            <div class="control-label">

            </div>
            <div class="controls">
              <div class="actions">
                <button class="btn-blue" type="submit"><%= t('#buttons.submit', "Submit") %></button>
              </div>
            </div>
          </div>



        <% end %>
      </div>
    </div>
  </div>
</div>
